.worker-item{
  border-bottom: 1px solid grey;
  .edit-worker-item-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .delete-modal{
      position: absolute;
      width: 300px;
      left: 37%;
      z-index: 200;
      top:20%;
     background: white;
      border:1px solid grey;
      border-radius: 10px;
      @media(max-width: 991px){
        left: 38px;
        width: 250px;
      }
      @media(max-width: 350px){
        left: 15px;
        width: 250px;
      }
      div{
        display: flex;
        justify-content: center;
        button:first-child{
          padding: 9px 26px;
          border: none;
          cursor: pointer;
          color:#ffffff;
          font-size: 16px;

          border-radius: 10px;
          background: linear-gradient(to right, #13b5f3, #3684d9);

        }
        button:last-child{
          padding: 9px 26px;
          border: none;
          cursor: pointer;
          color:#ffffff;
          font-size: 16px;
          border-radius: 10px;
          margin-left: 10px;
          background: linear-gradient(to right, #f70044,  #e51922);
          @media(max-width: 991px){

          }
        }
      }
      h3{
        text-align: center;

      }

    }
    .info{
      width: 83%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media(max-width: 560px){
        width: 80%;
      }
      table{
        width: 100%;
        td{
          width: 33%;
          vertical-align: middle;
        }
      }
    }
  }

  .buttons{
    display: flex;
    @media(max-width: 560px){
     width: 100%;
      justify-content: end;
    }
    button:first-child{
      padding: 9px 26px;
      border: none;
      cursor: pointer;
      color:#ffffff;
      font-size: 16px;
      border-radius: 10px;
      background: linear-gradient(to right, #13b5f3, #3684d9);
      @media(max-width: 991px){

      }
    }
    button:last-child{
      padding: 9px 20px;
      border: none;
      cursor: pointer;
      color:#ffffff;
      font-size: 16px;
      border-radius: 10px;
      margin-left: 10px;
      background: linear-gradient(to right, #f70044,  #e51922);
      @media(max-width: 991px){

      }
    }
  }
  .edit-worker-form{
    margin-top:10px;
    form{
      padding-bottom: 60px;
      .edit-workers-button{
        float: right;
        .button-edit{
          padding: 9px 20px;
          border: none;
          margin-right: 10px;
          cursor: pointer;
          color:#ffffff;
          font-size: 16px;
          border-radius: 10px;
          background: linear-gradient(to right, #13b5f3, #3684d9);
        }
        .button-del{
          padding: 9px 20px;
          border: none;
          cursor: pointer;
          color:#ffffff;
          font-size: 16px;
          border-radius: 10px;
          background: linear-gradient(to right, #f70044,  #e51922);
        }
        //button:last-child{
        //  padding: 9px 20px;
        //  border: none;
        //  cursor: pointer;
        //  color:#ffffff;
        //  font-size: 16px;
        //  border-radius: 10px;
        //  margin-left: 10px;
        //  background: linear-gradient(to right, #f70044,  #e51922);
        //}
      }
      .input-wrapper{
        input{
          width: 98%;
          font-size: 16px;
          height: 52px;
          padding: 0 10px;
          border-radius: 4px;
          border: 1px solid #dedede;
          @media(max-width: 991px){
            width: 97%;

          }
          @media(max-width: 700px){
            width: 97%;

          }
          @media(max-width: 700px){
            width: 95%;

          }
          @media(max-width: 700px){
            width: 93%;

          }
        }

      }

      button{
        padding: 9px 26px;
        border: none;
        cursor: pointer;
        color:#ffffff;
        font-size: 16px;
        border-radius: 10px;
        background: linear-gradient(to right, #13b5f3, #3684d9);
        @media(max-width: 991px){

        }

      }

    }
  }

}